/* Your styles here */
body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}

/* HEADER */
header {
  background-color: black;
}

header img {
  margin-left: 50px;
  padding-top: 20px;
  width: 200px;
}
nav {
  background-image: url(../images/banner.jpg);
  padding-bottom: 5rem;
  text-align: center;
}

h1,
h2,
h3,
h5 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  margin: 2rem;
  padding: 3rem;
}

.partiamo {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  border: white;
  border-radius: 3px;
  margin: 1rem;
  padding: 0.5rem;
}

/* SEZIONE 1 */
.section1 {
  margin: 1.2rem;
  text-align: center;
}

.card1 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin: 1.2rem;
}

.cardText {
  margin: 1.2rem;
  padding-top: 1.5rem;
  line-height: 1.65;
}

.card1 img {
  border-radius: 50%;
  text-align: center;
  object-fit: cover;
  margin: 1.2rem;
}

/* SEZIONE 2 */
.redbox {
  background-color: #e22d0e;
  text-align: center;
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}

h2 {
  color: white;
}

.redbox p {
  padding-top: 2rem;
}

.redbox span {
  padding-top: 15px;
}
/* SEZIONE 3 */
.section3 {
  margin: 1.2rem;
  text-align: center;
}

.card2 {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #dee1e3;
  margin: 15px;
  width: 330px;
}

.card2 img {
  width: 100%;
}
/* FOOTER */
footer {
  background-color: #25a2c3;
  color: white;
  padding: 1.65rem;
}
.textFooter {
  width: 30%;
  margin: auto;
}

footer ul {
  list-style: none;
}

footer h5 {
  color: white;
  font-size: 2.8rem;
}

footer a {
  color: #c8e7f0;
}
